.side-bar {
    width: 35%;
    background-color: transparent;
    /* border: solid; */
    /* border-width: 0 1px; */
}

.main-bar-wrapper {
    flex-grow: 1;

    background-blend-mode: color-burn;
    padding: 1rem;
}

.main-bar {
    background-color: #fff3;
    height: 100%;
    padding: 4rem;
    border-radius: 1rem;
}

.menu-item {
    width: 75%;
    @apply m-1 mx-auto py-5 cursor-pointer transition-all duration-75 hover:bg-gray-50 hover:bg-opacity-50 rounded-md text-left p-2
}