/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/index.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
@keyframes pop-up-anim {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.pop-up {
  animation: popUp 0.1s ease-out;
}

.logo-image {
  background-image: url(/_next/static/media/logo.d0de7b76.png);
  width: 12rem;
  height: 2rem;
  outline: none;
  background-size: contain;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}
