.logo-image {
    background-image: url('../assets/logo.png');
    width: 12rem;
    height: 2rem;
    outline: none;
    background-size: contain;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}