:root {
    --black: #272829;
    --black-light: #2222227e;
    --dark: #61677A;
    --dark-light: #61677a7e;
    --light-gray: #dee3e9;
    --light: #D8D9DA;
    --very-light: #FFF6E0;
    --blue: rgb(22, 129, 201);
    --tier-one: #64CCC5;
    --tier-two: #176B87;
    --tier-three: #04364A;
}