.description *:not([type='social-media-links']) {
    font-family: Poppins;
    @apply text-gray-800
}

span.heading {
    text-transform: uppercase;
    display: block;
    margin: 0;
    font-weight: 900;
    @apply text-gray-800 my-10
}

input[type='email'] {
    outline: none;
    border: none;
}

input[type='email']:focus {
    /* border: solid;
    border-width: 2px; */
    /* box-shadow: 0px 0px 2px 1px rgb(56, 56, 255); */
    outline: double;
    outline-color: rgba(82, 82, 255, 0.479);
    outline-width: 2px;
}

button[type='subscribe'] {
    border: solid;
    transition: 150ms ease-in-out;
    @apply w-full p-4 border border-black text-black rounded-none
}

button[type='subscribe']:hover {
    border-color: transparent;
    @apply bg-indigo-800 text-white
}

button[type='subscribe']:active {
    scale: 0.94;
}

.contact-us-card {
    @apply my-32 bg-gray-200
}