.modifier-pane {
    width: 15%;
    height: auto;
    @apply relative overflow-x-hidden
}

.modifier-pane h1 {
    @apply my-4 text-center font-black text-xl
}

.modifier-pane button {
    @apply w-full p-2
}

.canvas {
    @apply flex flex-col flex-grow relative p-2
}

.canvas-tab {
    background-color: #fff3;
}

.canvas-main {
    background-color: #fff3;
    backdrop-filter: blur(10px);
}

.canvas-tab {
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px -2px 5px #2221;
    @apply h-8 w-32 relative flex justify-center items-center
}

.canvas-tab i {
    position: absolute;
    right: -33px;
    animation: slideAnim 350ms ease-out;
    @apply p-2 rounded-full cursor-pointer
}

@keyframes slideAnim {
    0% {
        right: 0px;
        z-index: -1;
    }

    100% {
        right: -33px;
    }
}


.canvas-tab i:active {
    scale: 0.95;
}

.canvas-tab i:hover {
    @apply bg-gray-200
}

.canvas-main {
    /* box-shadow: 0px 2px 5px #2221; */
    @apply w-full relative h-full flex flex-col justify-center items-center
}

.canvas-main .image-icon {
    @apply text-6xl
}

.canvas-main .image-add {
    @apply text-xl
}

.canvas-main .image {
    @apply absolute max-h-full max-w-full bg-contain p-10
}

.add-image-wrapper {
    filter: invert(0.3);
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    @apply py-10 px-20 flex flex-col justify-center items-center
}

.add-image-wrapper:hover {
    scale: 1.02;
}

.add-image-wrapper:active {
    scale: 1;
}

.add-image-wrapper .icon {
    width: 7rem;
    margin: 0 auto;
}

.add-image-wrapper .text {
    @apply text-xl
}

.dropdown-menu {
    background-color: #fff3;
    margin: 1px;
    @apply w-full h-10 cursor-pointer flex justify-between items-center px-4 rounded-md
}

.dropdown-menu:active {
    @apply bg-white
}

.dropdown-menu-buttons-container {
    @apply ml-3 bg-gray-300 bg-opacity-25
}

.dropdown-menu-button {
    margin: 1px 0 0 0;
    @apply w-full h-10 cursor-pointer flex justify-between items-center px-4 rounded-md bg-gray-300 bg-opacity-30
}

.dropdown-menu:hover,
.dropdown-menu-button:hover {
    background-color: #fff7;
}


.dropdown-menu-button:active {
    scale: 0.96;
}