.modifier-pane {
    width: 15%;
    height: auto;
    @apply relative overflow-x-hidden
}

.modifier-pane h1 {
    @apply my-4 text-center font-black text-xl
}

.modifier-pane button {
    @apply w-full p-2
}

.canvas {
    @apply flex flex-col flex-grow relative p-2
}

.canvas-tab {
    background-color: #fff3;
}

.canvas-main {
    background-color: #fff3;
    backdrop-filter: blur(10px);
}

.canvas-tab {
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px -2px 5px #2221;
    @apply h-8 w-32 relative flex justify-center items-center
}

.canvas-tab i {
    position: absolute;
    right: -33px;
    animation: slideAnim 350ms ease-out;
    @apply p-2 rounded-full cursor-pointer
}

@keyframes slideAnim {
    0% {
        right: 0px;
        z-index: -1;
    }

    100% {
        right: -33px;
    }
}


.canvas-tab i:active {
    scale: 0.95;
}

.canvas-tab i:hover {
    @apply bg-gray-200
}

.canvas-main {
    /* box-shadow: 0px 2px 5px #2221; */
    @apply w-full relative h-full flex flex-col justify-center items-center
}

.canvas-main .image-icon {
    @apply text-6xl
}

.canvas-main .image-add {
    @apply text-xl
}

.canvas-main .image {
    animation: animateImageLoad 350ms ease-in-out;
    @apply absolute max-h-full max-w-full bg-contain p-10
}

@keyframes animateImageLoad {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

.add-image-wrapper {
    filter: invert(0.3);
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    @apply py-10 px-20 flex flex-col justify-center items-center
}

.add-image-wrapper:hover {
    scale: 1.02;
}

.add-image-wrapper:active {
    scale: 1;
}

.add-image-wrapper .icon {
    width: 7rem;
    margin: 0 auto;
}

.add-image-wrapper .text {
    @apply text-xl
}

.dropdown-menu {
    background-color: rgb(215, 183, 237);
    margin: 1px;
    @apply w-full h-10 cursor-pointer flex justify-between items-center px-4 rounded-md
}

.dropdown-menu * {
    cursor: pointer;
}

.dropdown-menu:active {
    @apply bg-white
}

.dropdown-menu-buttons-container {
    cursor: pointer;
    @apply ml-3 bg-opacity-25
}

button {
    position: relative;
    padding: 2rem 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: #4B5563;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.15s ease-in-out;
}

button:hover {
    border-radius: 7px;
    background: #ebebeb;
    border: none;
    /* box-shadow: 0 0 20px 2px rgba(0, 142, 236, 0.815); */
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    background-color: #d1d5db9c;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.dropdown-menu-button {
    margin: 1px 0 0 0;
    @apply w-full h-10 cursor-pointer flex justify-between rounded-md bg-gray-100 items-center px-4 bg-opacity-30
}

.dropdown-menu:hover,
.dropdown-menu-button:hover {
    background-color: #fff7;
}


.dropdown-menu-button:active {
    scale: 0.96;
}

.dropdown-menu *:not(.fa-solid),
.dropdown-menu-button * {
    font-family: 'Roboto';
    font-size: small;
}